<nav class="navbar navbar-light bg-light">
	{{>nav}}
</nav>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card mt-5 w-75 profile">
				<div class="card-body">
					<h5 class="card-title">Profile</h5>
					<form action="/profile?_method=patch" method="post">
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"
								>Name</label
							>
							<input
							name="name"
								type="text"
								class="form-control mb-3"
								id="exampleFormControlInput1"
								placeholder="{{user.name}}"
							/>
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label"
									>Email address</label
								>
								<input
								name="email"
									type="email"
									class="form-control mb-3"
									id="exampleFormControlInput1"
									placeholder="{{user.email}}"
								/>
								<div class="mb-3">
									<label for="exampleFormControlInput1" class="form-label"
										>Profile Picture</label
									><br /><img
										class="avatar-lg mb-3"
										src="{{user.avatar}}"

									/>
									<input
									name="url"
										type="url"
										class="form-control"
										id="exampleFormControlInput1"

									/>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Save Changes</a>
					</form>
				</div>
			</div>
		</div>
		<div class="col-7 mt-5">
			{{#if user}}
			{{#each userHouses as |house|}}
			<h2>My Listings</h2>
			<form action="/houses/create" method="get">
				<a href="/houses/create" class="btn btn-primary mt-5">List a House</a><br />
			</form>
				<div class="card mb-3 mt-5">
					<div class="row g-0">
						<div class="col-md-4">
							<img
								src="{{house.photos.[0]}}"
								class="img-fluid rounded-start"

							/>
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">{{house.title}}</h5>
								<span>{{house.rooms}} * ${{house.price}}/</span>
								<p class="card-text">
									{{house.description}}
								</p>
								<form action="/houses/{{house._id}}/edit" method="get">
								<button  class="btn btn-outline-secondary">
									Edit
								</button>
							</form>
							<form action="/houses/{{house._id}}" method="get">
								<button
									type="submit"
									class="btn btn-outline-success success"
								>
									View
								</button>
							</form>
								<button class="btn btn-danger m-3" type="submit">
									Delete House
								</button>
							</div>
						</div>
					</div>
					{{/each}}
				</div>

			</form>
		</div>
		<div class="col-6">
			<div class="card mt-5 w-100">
				{{else}}
				<div class="card-body">
					<h3 class="card-title mt-3">My Listings</h3>

					<a href="#" class="btn btn-primary mt-3 mb-3">List a House</a
					><br />
					<div class="card mt-2">
						<div class="card-body" rows="2">
							You don't have any houses listed
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
	</div>
</div>
