<nav class="navbar navbar-light bg-light">
	{{>nav}}
</nav>
<div class="container mt-3">
	<h1>Edit a House</h1>
	<form action="/houses/{{house._id}}?_method=patch" method="post">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label"
				>Short title</label
			>
			<input
			name="title"
				type="text"
				class="form-control"
				required
				value="{{house.title}}"
			/>
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label"
				>Description</label
			>
			<textarea
				name="description"

				class="form-control"
				id="exampleFormControlTextarea1"
				rows="6"
				min
				length="20"
				required
				placeholder="{{house.description}}"
			></textarea>
		</div>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label"
				>Number of Rooms</label
			>
			<input name="rooms" type="number" class="form-control" required value="{{house.rooms}}" />
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label"
				>Location</label
			>
			<select class="form-select" aria-label="Default select example">
				<option selected>{{house.location}}</option>
				<option>Koh Phagnan</option>
				<option>Koh Samui</option>
				<option>Three</option>
			</select>
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label"
				>Price(per night)</label
			>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">$</span>
				<input
					name="price"
					type="number"
					class="form-control"
					aria-label="price"
					aria-describedby="basic-addon1"
					min="1"
					value="{{house.price}}"
				/>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label"
					>Add Photos(up to 9)</label
				>
				<input
				name="photo"
					type="url"
					class="form-control mb-1"
					value="{{house.photo}}"
					required
				/>
				<input
					type="url"
					class="form-control mb-1"
					value="{{house.photo}}"
				/>
				<input
					type="url"
					class="form-control mb-1"
					value="{{house.photo}}"
				/>
				<input
					type="url"
					class="form-control mb-1"
					value="{{house.photo}}"
				/>
				<input
					type="url"
					class="form-control mb-1"
					value="{{house.photo}}"
				/>
				<input
					type="url"
					class="form-control mb-1"
					value="{{house.photo}}"
				/>
				<input
					type="url"
					class="form-control mb-1"
					value="{{house.photo}}"
				/>
				<input
					type="url"
					class="form-control mb-1"
					placeholder="{{house.photo}}"
				/>
				<input
					type="url"
					class="form-control mb-1"
					value="{{house.photo}}"
				/>
			</div>

			<button class="btn btn-primary m-3" type="submit">
				Save Changes</button
			><br />
			</form>
			<form action="/houses/{{house._id}}?_method=delete" method="post">
			<button class="btn btn-danger m-3">
				Delete House
			</button>
		</form>
		</div>

</div>
