<nav class="navbar navbar-light bg-light">
{{>nav}}
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<form method ="get" action ="/houses" class="d-flex">
			<div class="input-group m-3">
				<span class="input-group-text">
					<i class="fas fa-map-marker-alt"></i>
				</span>
				<select name="location" class="form-select" aria-label="Default select example">
					<option selected>Any location</option>
					<option value="1">Koh Phagnan</option>
					<option value="2">Koh Samui</option>
					<option value="3">Bali</option>
				</select>
			</div>
			<!-- location  -->
			<div class="input-group m-3">
				<span class="input-group-text">
					<i class="fas fa-house-user"></i>
				</span>

				<select name ="room" class="form-select" aria-label="Default select example">
					<option selected>Any Rooms</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</div>
			<!-- rooms -->
			<div class="input-group m-3">
				<span class="input-group-text" id="basic-addon1">$</span>
				<select name="price"
					class="form-select"
					aria-label="Default select example"
					type="number"
				>
					<option selected>Max Price</option>
					<option value="1">50</option>
					<option value="2">100</option>
					<option value="3">150</option>
				</select>
			</div>
			<!-- max price -->
			<div class="input-group m-3">
				<span class="input-group-text" id="basic-addon1">$</span>
				<select name="sort" class="form-select" aria-label="Default select example">
					<option selected>Price(low to high)</option>
					<option value="1">Price(high to low)</option>
				</select>
			</div>
			<!-- high/low -->

			<div class="col">
				<input
				name="title"
					type="text"
					class="form-control house-name mt-3"
					placeholder="House name"
					aria-label="House name"
				/>
			</div>
			<button class="btn btn-primary m-3" type="submit">
				Search
			</button>
		</form>
		<!-- search form -->
	</div>
</nav>
<!-- Navbar content -->
<div class="container mt-3">
	<div class="row row-cols-4">
		{{#each house as |house|}}
		<div class="col">
			<div class="card mb-3">
				<a href="/houses/{{house._id}}">
				<img
					src="{{house.photos.[0]}}"
					class="card-img-top"
				/></a>
				<div class="card-body">
					<i class="fas fa-map-marker-alt"></i>
					<span>{{house.location}} * {{house.rooms}} Rooms</span>
					<h5 class="card-title">{{house.title}}</h5>
					<i class="fas fa-thumbs-up"></i>
					<span>3 reviews</span>
					<span>${{house.price}}/night</span>
				</div>

			</div>
		</div>
		{{/each}}
		<!-- first column -->

	</div>
</div>
