<nav class="navbar navbar-light bg-light">
	{{>nav}}
</nav>
<div class="card">
	<div class="row row-cols-2">
		<div class="col">
			<div class="card" style="width: 100%;">
				<img
					src="{{house.photos.[0]}}"
					class="card-img-top"
				/>
			</div>
		</div>
		<div class="row row-cols-3">
			<!-- <div class="col mt-3"> -->
				{{#each house.photos as |photo|}}
						<div class="col">
							<div>
								<img
					    	src="{{photo}}"
								class="card-img-top"
								
								/>
							</div>
						</div>
				{{/each}}

			<!-- </div> -->
		</div>
	</div>
</div>

<div class="card">
	<div class="row row-cols-2">
		<div class="col sm-8">
			<div class="card-body m-5">
				<h3 class="card-title mt-4">{{house.title}}</h3>
				<i class="fas teal fa-map-marker-alt"></i>
				<span>{{house.location}} * {{house.rooms}} rooms</span>
				<div class="card mt-4 no-border" style="max-width: 400px;">
					<div class="row g-0">
						<div class="col-md-2">
							<img
								src="{{house.host.avatar}}"
								class="img-fluid avatar-lg m-4"
								alt="..."
							/>
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<span class="muted">Hosted by</span>
								<h5 class="card-title">{{house.host.name}}</h5>
							</div>
						</div>
					</div>
				</div>
				<p class="card-text mt-4">
					{{house.description}}
				</p>
				<h6>0 Reviews</h6>
				<span>Leave a review</span>
				<div class="form-floating mt-2 mb-2">
					<textarea
						class="form-control"
						placeholder="Leave a comment here"
						id="floatingTextarea2"
						style="height: 100px"
					></textarea>
				</div>
				<button type="button" class="thumbs">
					<i class="fas fa-thumbs-up"></i>
				</button>
				<button type="button" class="thumbs">
					<i class="fas fa-thumbs-down"></i></button
				><br />
				<a href="#" class="btn btn-primary mt-3">Submit</a>
			</div>
		</div>
		<div class="col">
			<form>
				<div class="card mt-5 pop-up shadow p-3 mb-5 bg-body rounded">
					<div class="card-body">
						<h5 class="card-title">${{house.price}}/night</h5>
						<span>0 reviews</span>
						<textarea
							class="form-control mt-3"
							placeholder="Send the host a message..."
							id="floatingTextarea2"
							style="height: 150px"
						></textarea>
						<a href="#" class="btn btn-primary mt-4">Request Booking</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
